body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 1.5em;
    color: white;
}

#controls {
    position: absolute;
    top: 50px; /* Position the controls at the top */
    left: 10px;
    z-index: 100;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#startAudio, #stopAudio {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#startAudio:hover, #stopAudio:hover {
    background-color: #555;
}

#loadingContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: none;
    text-align: center;
}

#loadingBar {
    height: 30px;
    background-color: white;
    width: 0;
    border-radius: 10px;
    line-height: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
    overflow: hidden;
}