body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    text-align: center;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #333; /* To test that the canvas is visible */
}

h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 1.5em;
}
